<div class="container">
  <div class="row card-deck" ng-repeat="bookChunk in $ctrl.books | chunkBy:3">
    <div class="col-xs-3 letter-box card" ng-repeat="book in bookChunk">
      <img class="card-img-top" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="{{book.id}}">
      <div class="card-block" style="cursor:pointer">
        <h2>{{book.volumeInfo.title}}</h2>
        <div>{{book.volumeInfo.publishedDate}}</div>
        <div>{{book.volumeInfo.authors[0]}}</div>
      </div>
    </div>
  </div>
</div>
